:root {
    --white: hsl(0, 0%, 100%);
    --dark-grey: hsl(0, 0%, 59%);
}
* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
}
.contenedor {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    /*background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -700px, 500px;
    background-position-y: -900px, 300px;  */
    align-items: center;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    min-width: 25%;
    height: 60%;
    /* border: 1px solid black; */
    border-radius: 15px;
    background-image: url("../images/bg-pattern-card.svg");
    background-color: var(--white);
    background-repeat:repeat-x;
    background-position-x: top;
}
.portrait {
    display: flex;
    height: 50%;
    align-items: flex-end;
}
.portrait img {
    height: 50%;
    border: 5px solid var(--white);
    border-radius: 100%;
}
.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 100%;
    border-bottom: 1px solid var(--dark-grey);
}
.name,
.stat-title {
    font-weight: bold;
    font-size: 1.1em;
}
.age {
    color: var(--dark-grey);
    font-weight: normal;
}
.bio p {
    margin: 5px 0px;
}
.city {
    font-size: .8em;
}
.city,
.stat-data {
    color: var(--dark-grey);
}
.social {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    padding-top: 25px;
}
.social div {
    margin: 0;
}
.stat-data,
.stat-title {
    text-align: center;
    padding: 2px 0px;
}
.stat-data {
    letter-spacing: .2em;
    font-size: .6em;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 1000px) {
    .card {
        min-width: 30%;
    }
}
@media screen and (max-width: 800px) {
    .card {
        min-width: 40%;
    }
}
@media screen and (max-width: 600px) {
    .card {
        min-width: 50%;
    }
}
@media screen and (max-width: 450px) {
    .card {
        min-width: 80%;
    }
}